# 実行によって生成されるログとキャッシュ
logs/
__pycache__/
*.log

# スクリプトの出力・生成ファイル
*.jsonl
dna_hierarchy_count.json
questions.json

analyze_dna_hierarchy.py
convert_hh_rlhf.py
fix_key.py
process_data.py
dpo_dataset_converted.jsonl
dpo_dataset_unified.jsonl
debug_dataset.py
gen_cot.py